/* your code here */
body{
	background-color: lightgreen;
}
.controls{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	padding:5px;
	color:white
}
.product{
	height:600px;
	width:600px;
	background-color:white;
	margin:100px;
	padding-top:40px;
	display:flex;
	flex-wrap:wrap;
	
}
.photo-container{
	min-width:40%;
	height:80%;
	background-color:yellowgreen;
	
	margin-left:-50px;
}
.photo-main > img{
	width:100%;
	margin-left:-50px;
	vertical-align:bottom;
	
}
.photo-album{
	background-color:white;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.photo-album > ul > li {
	list-style:none;
}
.photo-album > ul {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.photo-album > ul > li > img{
	width:40px;
	border:1px solid black;
	margin:1px;
}